body{
    font-family: "Roboto", sans-serif;
    
}
h1{
    color: white !important;
}
.fondo{
    background-color: black !important;
}
.logo{
    display: flex;
    padding-top: 5%;
    width: 50px;
    opacity: 1;
   
}

.logo:hover{
	-webkit-animation: flash 1.5s;
	animation: flash 2.5s;
 
}@-webkit-keyframes flash {
        0% {
            opacity: .4;
        }
        100% {
            opacity: 1;
        }
}
@keyframes flash {
    0% {
        opacity: .4;
    }
    100% {
        opacity: 1;
    }
    }
.card-body{
    display: flex;
    flex-direction: column;
     justify-content: center !important;
    align-items: center !important;
}
.navbarUL{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(132, 23, 29);
    
}
.navbarUL .left{
    float: left;
}
.navbarUL .right{
    float: right;
}
.navbarUL li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbarUL li a:hover {
    background-color: #111111;
  }

.sect1{
    background-color:rgba(234, 211, 177);
}
.sect1 :only-child{
    margin: 1%;
}

.art1{ 
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}
.art1 li{
    margin: 1%;
    display: flex;
    flex-direction: row;
}
.AboutusImg{
    padding-left: 50px;
    
}
.AboutusImg img{
    width: 400px;
}
.AboutusText{
    text-align: justify;
}
.art1 aside{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.sect2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.sect2 .card{
    margin: 3%;
}